* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(bg2.avif);
    background-size: cover;
}
.tabs {
    display: flex;
  }

  .tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .tab:hover {
    background-color: #2980b9;
  }

.container {
    width: 100%;
    max-width: 440px;
    background-color: rgba(0, 0, 0, 0.5); /* Original background color */
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.form-title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n) {
    justify-content: flex-end;
}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label {
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0 10px;
}

.gender-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category {
    margin: 15px 0;
    color: white;
}

.gender-category label {
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input {
    cursor: pointer;
}

.form-submit-btn {
    margin-top: 40px;
}

.register-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: rgba(56, 204, 93, 0.7);
}

.register-btn:hover {
    background: rgba(56, 204, 93, 0.9);
}
